# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
lab_02_Building_Web_Applications_with_Flask/__pycache__/
lab_06_best_practice/__pycache__/
lab_06_best_practice/app/__pycache__/
lab_06_best_practice/utils/__pycache__/
lab_07_orm/__pycache__/
lab_08_authentication/__pycache__/
